<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<p><%= @question %></p>
<p><%= @answer %></p>

<button type="button" class="btn btn-danger"><%= link_to "Ask another question", ask_path %></button>


