<div class = "form-div">
 <h1 class = "title">Ask your coach!</h1>
<p>Find me in app/views/questions/ask.html.erb</p>
<form action="/answer" >
  <input type="text" name="coaching_answer">
  <input type="submit" value="Ask!">
</form>
</div>

