// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
  margin: 50px;
}
p {
  color: grey;
  }
.btn {
color: white;
}

.form-div{
  margin-top: 20%;
  text-align: center;
}
